body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
}

/* header */

.blu-scuro {
    background-color: #222f3f;
}

header img {
    width: 120px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blu-chiaro {
    background-color: #364759;
    padding: 8px 30px;
}

.menu-nav,
#shop-GiftCards a {
    padding-right: 20px;
    color: #ebe7ed;
    text-decoration: none;
    font-size: 0.9rem;
}

/* main */

main {
    padding: 30px 30px;
    background-color: #e9edee;
}

main,
footer {
    text-align: center;
}

#shop-GiftCards {
    background-color: #f56600;
    padding: 4px 4px;
    margin-bottom: 30px;
}

#shop-GiftCards a {
    padding-right: 0px;
}

#shop-GiftCards a,
h1 {
    text-transform: capitalize;
}

#background-img {
    background-image: url(../images/bg-image.png);
    background-size: contain;
    font-weight: bold;
    color: #ebe7ed;
    padding: 50px;
    margin-bottom: 30px;
}

#background-img h1 {
    font-size: 1.8rem;
    padding-top: 20px;
}

#background-img p {
    padding-top: 20px;
    font-size: 0.9rem;
}

.main-box {
    padding-top: 20px;

    background-color: white;
    text-align: center;
}

#text-left {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.display-inline,
.box p,
.img-box {
    display: inline;
    font-size: 0.9em;
}



.link {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    color: #4b868b;
    margin-left: 4px;
}

.img-box img {
    width: 21%;
    border-radius: 20px;
    aspect-ratio: 0.9;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: inset -1px 3px 8px 5px #afafaf73, 2px 5px 16px 0px #afafaf73;
}


.img-grande {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}


/* footer */

footer a {
    color: #e9edee;
    font-size: 0.8rem;
    font-weight: bold;
    scroll-behavior: smooth;
    text-decoration: none;
}

footer img {
    width: 130px;
    margin: 30px;
}

